<div data-role="view" id="create-post-view" data-layout="default" data-transition="overlay:down" class="create-post-view"
    data-init="app.CreatePost.init" data-show="app.CreatePost.show" data-model="app.CreatePost">
    <header data-role="header">
        <div data-role="navbar">
            New Entry
            <a class="nav-button nav-button-wireframe" data-align="left" data-role="backbutton">Cancel</a>
            <a class="nav-button nav-button-wireframe nav-button-wireframe-green" data-align="right" data-role="button" data-bind="click: savePost">Add</a>
        </div>
    </header>
    <div id="enterPost" data-role="listview" data-style="inset">
        <div class="user-share">
            <textarea id="postText" class="textarea" placeholder="What's on your mind?" required validationMessage="Post text is required!"></textarea>
            <img class="create-post-image" src="" class="hidden" width="100%"/>
            <button data-role="button" data-align="right" data-bind="click:addImage">Add photo</button>
        </div>
    </div>
</div>
