<div data-role="view" id="share" data-layout="default" data-transition="overlay:down" class="create-post-view"
    data-init="app.CreatePost.init" data-show="app.CreatePost.show" data-model="app.CreatePost">
    <header data-role="header">
        <div data-role="navbar">
            Add Content
            <a class="nav-button nav-button-cancel" data-align="left" data-role="backbutton">&larr;</a>
            <a class="nav-button nav-button-post" data-align="right" data-role="button" data-bind="click: savePost">Add</a>
        </div>
    </header>
    <div id="enterPost" data-role="listview" data-style="inset">
        <div class="user-share">
            <img class="create-post-image" src="" class="hidden" width="100%"/>
            <textarea id="postText" class="textarea" placeholder="What is happening?" required validationMessage="Post text is required!"></textarea>
            <button data-role="button" data-align="right" data-bind="click:addImage">Add</button>
        </div>
    </div>
</div>
