<div data-role="view" id="share" data-layout="default" data-transition="overlay:down" class="create-story-view"
    data-init="app.CreateStory.init" data-show="app.CreateStory.show" data-model="app.CreateStory">
    <header data-role="header">
        <div data-role="navbar">
            Story
            <a class="nav-button nav-button-cancel" data-align="left" data-role="backbutton">Cancel</a>
            <a class="nav-button nav-button-post" data-align="right" data-role="button" data-bind="click: saveStory">Post</a>
        </div>
    </header>
    <div id="enterStory" class="share-form-wrp" data-role="listview" data-style="inset">
        <div class="story-name">
            <textarea id="storyName" placeholder="What's on your mind?" required validationMessage="Story title is required!"></textarea>
        </div>
        <div class="story-status">
            <ul id="select-story-status" data-role="buttongroup">
                <li>Open story</li>
                <li>Closed story</li>
            </ul>
            <input id="storyStatus" type="hidden" />
        </div>
    </div>
</div>
