<div data-role="view" id="publish" data-layout="default" data-transition="overlay:down" class="show-story-view"
    data-init="app.ShowStory.init" data-show="app.ShowStory.show" data-model="app.ShowStory">
    <header data-role="header">
        <div data-role="navbar">
            <div class="story-title hidden"></div>
            <a class="nav-button nav-button-cancel" data-align="left" data-role="backbutton">
                <i class="icon icon-arrow-left"></i>
            </a>
        </div>
    </header>
    <img src="" class="story-cover hidden" width="100%">
    <div id="showStory" data-role="listview" data-style="inset" data-template="post-template"
        data-bind="source: posts">
    </div>
</div>
<script type="text/x-kendo-tmpl" id="post-template">
    <div class="story-post">
        # if (ImageUrl()) { #
        <img data-bind="attr:{src: ImageUrl}" alt=" image" width="100%"/>
        # } #
        # if (text) { #
        <p class="trending-story-title">#:text#</p>
        # } #
        <img src="images/trending_story_icons.png" style="margin-left:15px"/>
    </div>
</script>