<div data-role="view" id="share" data-layout="default" data-transition="overlay:down" class="create-story-view"
    data-init="app.CreateStory.init" data-show="app.CreateStory.show" data-model="app.CreateStory">
    <header data-role="header">
        <div data-role="navbar">
            What is Story type?
            <a class="nav-button nav-button-cancel" data-align="left" data-role="backbutton">Back</a>
        </div>
    </header>
    <div id="enterStory" data-role="listview" data-style="inset">
        <p>
          Some Text explaining the diff between <strong>Opened</strong> and <strong>Closed</strong> stories
        </p>
    </div>
</div>