/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}




.cf {
  zoom: 1;
}

.cf:before,
.cf:after {
  content: '';
  display: table;
}

.cf:after {
  clear: both;
}

.km-flat .km-loader,
.km-flat .km-rowinsert,
.km-flat .km-state-active,
.km-flat .km-scroller-pull,
.km-flat .k-slider-selection,
.km-flat .km-touch-scrollbar,
.km-flat .km-pages .km-current-page,
.km-flat .k-slider .k-draghandle,
.km-flat .k-slider .k-draghandle:hover,
.km-flat .km-tabstrip .km-state-active,
.km-flat .km-scroller-refresh.km-load-more,
.km-flat .km-popup .k-state-hover,
.km-flat .km-popup .k-state-focused,
.km-flat .km-popup .k-state-selected,
.km-flat .km-actionsheet > li > a:active,
.km-flat .km-actionsheet > li > a:hover,
.km-flat li.km-state-active .km-listview-link,
.km-flat li.km-state-active .km-listview-label,
.km-flat .km-listview-label input[type=radio]:checked,
.km-flat .km-listview-label input[type=checkbox]:checked {
  background: #3598DB;
}

.km-flat .km-loader {
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
     -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
}

.km-flat .km-loader:before {
  background: transparent;
}

#storyApp.km-flat,
#storyApp.km-flat .km-navbar,
#storyApp.km-flat .km-content {
  overflow: hidden;
  margin: 0 auto;
  width: 600px;
  border: 0 none;
  background-color: #2d3e50;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

#storyApp .center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#storyApp .hide-text {
  overflow: hidden;
  text-indent: -999px;
}

#storyApp .center-text {
  text-align: center;
}

.disabled {
  position: relative;
  display: block;
}

.disabled:before {
  position: absolute;
  top: 0;
  right: -1px;
  bottom: 0;
  left: -1px;
  z-index: 1;
  content: '';
}

/* Forms */

::-webkit-input-placeholder {
  color: #b6c5c6;
}

:-moz-placeholder {
  color: #b6c5c6;
}

::-moz-placeholder {
  color: #b6c5c6;
}

:-ms-input-placeholder {
  color: #b6c5c6;
}

#storyApp.km-flat form .km-list > li {
  padding: .7em .7em .5em;
  border-color: #eaeced;
}

#storyApp.km-flat form .km-listinset > li:first-child,
#storyApp.km-flat form .km-listgroupinset .km-list > li:first-child {
  border-width: 0 0 1px;
  border-color: #eaeced;
  -webkit-border-radius: 2px 2px 0 0;
     -moz-border-radius: 2px 2px 0 0;
          border-radius: 2px 2px 0 0;
}

#storyApp.km-flat form .km-listinset > li:last-child,
#storyApp.km-flat form .km-listgroupinset .km-list > li:last-child {
  border: 0 none;
  -webkit-border-radius: 0 0 2px 2px;
     -moz-border-radius: 0 0 2px 2px;
          border-radius: 0 0 2px 2px;
}

#storyApp.km-flat .km-list input[type="text"]:not(.k-input),
#storyApp.km-flat .km-list input[type="password"],
#storyApp.km-flat .km-list input[type="email"],
#storyApp.km-flat .km-list input[type="date"],
#storyApp.km-flat textarea,
#storyApp.km-flat select {
  position: static;
  width: 100%;
  height: 30px;
  font-size: 1rem;
}

#storyApp.km-flat select {
  padding: .4em .2em;
}

/* Buttons */

#storyApp .btn {
  position: relative;
  margin: 0 -1px;
  padding: .6em 0;
  border: 0 none;
  background-color: #3598db;
  font-size: 1.2rem;
  -webkit-transition: background 0.3s;
     -moz-transition: background 0.3s;
          transition: background 0.3s;
}

#storyApp .btn:hover {
  background-color: #5dade2;
}

#storyApp .btn:active {
  background-color: #2485c6;
}

#storyApp .disabled .btn {
  opacity: .35;
}

#storyApp .btn-login,
#storyApp .signup-view .btn-signup {
  background-color: #1bbc9b;
}

#storyApp .btn-login:hover,
#storyApp .signup-view .btn-signup:hover {
  background-color: #54cdb4;
}

#storyApp .btn-login:active,
#storyApp .signup-view .btn-signup:active {
  background-color: #16a086;
}

#storyApp .signup-view .btn-signup {
  display: block;
}

#storyApp .signup-view .btn-signup,
#storyApp .btn-delete,
#storyApp .activity-view .km-footer {
  text-align: center;
}

#storyApp .btn-delete {
  padding: .6em 1.5em;
  background-color: #e84c3d;
}

#storyApp .btn-delete:hover {
  background-color: #f7625e;
}

#storyApp .btn-delete:active {
  background-color: #d84039;
}

#storyApp .oauth-item .btn {
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#storyApp .btn-login-fb {
  background-image: url(/images/icon-facebook.png);
}

#storyApp .btn-login-google {
  background-image: url(/images/icon-google.png);
}

#storyApp .btn-login-liveid {
  background-image: url(/images/icon-liveid.png);
}

#storyApp .btn-login-adsf {
  background-image: url(/images/icon-adsf.png);
}

#storyApp .km-header .nav-button {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 2em;
  height: 2em;
  border: 0 none;
  background-color: transparent;
  background-position: 0 50%;
  background-repeat: no-repeat;
}

#storyApp .km-header .nav-button-back {
  background-image: url(/images/icon-arrow_left.png);
  background-position: .65em 50%;
}

#storyApp .km-header .nav-button-add {
  background-image: url(/images/icon-add.png);
}

#storyApp .km-header .nav-button-back,
#storyApp .km-header .nav-button-add {
  -webkit-transition: opacity 0.3s;
     -moz-transition: opacity 0.3s;
          transition: opacity 0.3s;
}

#storyApp .km-header .nav-button-back:hover,
#storyApp .km-header .nav-button-add:hover {
  opacity: .6;
}

#storyApp .km-header .nav-button-cancel,
#storyApp .km-header .nav-button-post {
  width: auto;
  height: 2.5em;
  font-size: .85rem;
  line-height: 2.5em;
}

/* App Header */

#storyApp.km-flat.km-on-ios.km-black-translucent-status-bar .km-header {
  min-height: 20px;
  background-color: #2d3e50;
}

#storyApp.km-flat .km-header .km-navbar {
  min-height: 3.15em;
}

#storyApp.km-flat.km-on-ios.km-black-translucent-status-bar .km-header .km-navbar {
  min-height: 4.5em;
}

#storyApp.km-flat .km-header .km-view-title {
  margin-top: .4em;
  font-size: 1rem;
}

#storyApp.km-flat.km-on-ios.km-black-translucent-status-bar .km-header .km-view-title {
  margin-top: .4em;
}

/* App Footer */

#storyApp .welcome-scrn .km-footer {
  background-color: transparent;
  color: #fff;
  text-align: center;
}

#storyApp .welcome-scrn .km-footer p {
  font-size: .75rem;
}

/* Welcome screen */

#storyApp .app-logo,
#storyApp .app-name {
  margin-top: 2.5em;
}

#storyApp .app-logo {
  width: 247px;
  height: 32px;
  background: transparent url(/images/logo-telerik_devcloud.png) no-repeat 0 0;
}

#storyApp .app-name {
  margin-bottom: 2.5em;
}

#storyApp .app-name small {
  display: block;
  font-weight: 400;
  font-size: 1.15rem;
}

#login-form .username,
#login-form .password {
  position: relative;
}

#login-form .username:before,
#login-form .password:before {
  position: absolute;
  top: 50%;
  right: .75em;
  display: block;
  margin-top: -.5em;
  width: 1em;
  height: 1em;
  background-color: transparent;
  background-position: 0 0;
  background-repeat: no-repeat;
  content: '';
}

#login-form .username:before {
  background-image: url(/images/icon-username.png);
}

#login-form .password:before {
  background-image: url(/images/icon-password.png);
}

#storyApp .welcome-scrn .group-wrp {
  margin: -1em 1em 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

#storyApp .welcome-scrn .group-wrp li {
  margin: 1.5em 0 0;
}

#storyApp .welcome-scrn .group-wrp .btn {
  display: block;
}

#storyApp .welcome-scrn .group-wrp .oauth {
  margin-right: -1%;
  margin-left: -1%;
}

#storyApp .welcome-scrn .group-wrp .oauth .oauth-item {
  float: left;
  margin: 0 1%;
  width: 23%;
}

#storyApp .welcome-scrn .group-wrp .oauth .btn {
  overflow: hidden;
  height: 45px;
  text-indent: -999px;
}

#storyApp .welcome-scrn .group-wrp .oauth .btn span,
#storyApp .welcome-scrn .group-wrp .btn-signup span {
  font-weight: 500;
  font-size: 1rem;
}

#storyApp .km-header .nav-button-cancel,
#storyApp .km-header .nav-button-post,
#storyApp .welcome-scrn .group-wrp .btn-signup {
  -webkit-transition: color 0.3s;
     -moz-transition: color 0.3s;
          transition: color 0.3s;
}

#storyApp .welcome-scrn .group-wrp .btn-signup {
  border: 0 none;
  background-color: transparent;
}

#storyApp .km-header .nav-button-cancel:hover,
#storyApp .km-header .nav-button-post:hover,
#storyApp .welcome-scrn .group-wrp .btn-signup:hover {
  color: #d4d4d4;
}

/* No API Key screen */

#storyApp .noapikey-scrn p {
    line-height: 1.5;
    color: #e4e4e4;
}

#storyApp .noapikey-scrn p strong,
#storyApp .noapikey-scrn p span {
    color: #fff;
}

#storyApp .noapikey-scrn p span {
    font-weight: 600;
}

/* Signup */

#storyApp .signup-view .select-wrp {
  -webkit-border-radius: 0 0 2px 2px;
     -moz-border-radius: 0 0 2px 2px;
          border-radius: 0 0 2px 2px;
}

#storyApp.km-flat .signup-view .km-listinset > li:last-child {
  margin: .5em 0 0;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

#storyApp .txtarea-wrp textarea {
  float: none;
  height: 5.5em;
  resize: none;
}

#storyApp .signup-view .signup-btn-wrp {
  margin: 0 1em;
}

#storyApp .signup-view .select-wrp select {
  color: #b6c5c6;
}

#storyApp .signup-view .select-wrp option:first-child {
  color: #b6c5c6;
}

/* Activities */

#storyApp .activities-view .km-content,
#storyApp .activity-view .km-content,
#storyApp .add-activity-view .km-content,
#storyApp .add-comment-view .km-content,
#storyApp .activities-view .km-listview {
  background-color: #fff;
}

#storyApp .activities-view .km-list > li,
#storyApp .activity-view .km-list > li {
  overflow: visible;
  padding: .75em 0;
  border-width: 0 0 1px;
  border-color: #eaeced;
  background-color: #fff;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  color: #34495e;
}

#storyApp .activity-view .comments-wrp {
  margin-top: 1em;
  border-top: 1px solid #eaeced;
}

#storyApp .activities-view .km-list > li:first-child {
  padding-top: 0;
}

#storyApp .user-avatar {
  float: left;
  width: 50px;
}

#storyApp .user-avatar img {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 25px;
     -moz-border-radius: 25px;
          border-radius: 25px;
}

#storyApp .activity-content {
  position: relative;
  padding-left: 5em;
  font-size: .85rem;
}

#storyApp .activity-content .person-name,
#storyApp .add-activity-view .person-name,
#storyApp .add-comment-view .person-name,
#storyApp .activity-content .time-span {
  font-weight: 600;
}

#storyApp .add-activity-view .person-name,
#storyApp .add-comment-view .person-name,
#storyApp .activity-content .person-name {
  display: block;
  margin: 0 0 .5em;
  color: #3598db;
  font-size: 1.1rem;
}

#storyApp .person-name {
  overflow: hidden;
  width: 70%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#storyApp .activity-content .time-span {
  position: absolute;
  top: 5px;
  right: 0;
  color: #6c7884;
  text-transform: uppercase;
  font-size: .7rem;
}

#storyApp .activity-content .comment-content .time-span {
  top: 12px;
  font-size: .6rem;
}

#storyApp .user-share-txt {
  color: #34495e;
}

#storyApp .activity-content .comment-content .user-share-txt {
  font-size: .75rem;
}

#storyApp .activity-view .person-name,
#storyApp .add-activity-view .person-name,
#storyApp .add-comment-view .person-name {
  margin: .85em 0 1em;
}

#storyApp .activity-view .comment-content .person-name {
  margin: 0;
  font-size: .85rem;
}

#storyApp .add-activity-view .person-name,
#storyApp .add-comment-view .person-name {
  padding-left: .75em;
}

#storyApp .activity-view .picture {
  margin: 1em 0 0;
}

#storyApp .user-share {
  position: relative;
  margin: 2.35em 0 0;
}

#storyApp .user-share:before {
  position: absolute;
  width: 0;
  height: 0;
  content: '';
}

#storyApp .user-share:before {
  top: -10px;
  left: 16px;
  border-right: 9px solid transparent;
  border-bottom: 10px solid #f5f7f8;
  border-left: 9px solid transparent;
}

#storyApp .user-share textarea {
  float: none;
  margin: 0;
  padding: .75em 1em;
  min-height: 3em;
  height: 13.5em;
  background-color: #f5f7f8;
  resize: none;
}

#storyApp .activity-view .km-footer {
  padding: 0 1em 1em;
  background: #fff none;
}

#storyApp .add-activity-view .km-leftitem,
#storyApp .add-comment-view .km-leftitem {
  left: 1em;
}

#storyApp .add-activity-view .km-rightitem,
#storyApp .add-comment-view .km-rightitem,
#storyApp .activity-view .km-rightitem {
    right: 1em;
}

#storyApp.km-black-translucent-status-bar .km-navbar .km-leftitem,
#storyApp.km-black-translucent-status-bar .km-navbar .km-rightitem {
  margin-top: .4em;
}

#storyApp .k-invalid-msg {
  display: none;
  margin: 1rem 0 0;
  padding: 0 1rem;
  color: #e84c3d;
}
