

.cf {
  zoom: 1;
}

.cf:before,
.cf:after {
  content: '';
  display: table;
}

.cf:after {
  clear: both;
}

.km-flat .km-loader,
.km-flat .km-rowinsert,
.km-flat .km-state-active,
.km-flat .km-scroller-pull,
.km-flat .k-slider-selection,
.km-flat .km-touch-scrollbar,
.km-flat .km-pages .km-current-page,
.km-flat .k-slider .k-draghandle,
.km-flat .k-slider .k-draghandle:hover,
.km-flat .km-tabstrip .km-state-active,
.km-flat .km-scroller-refresh.km-load-more,
.km-flat .km-popup .k-state-hover,
.km-flat .km-popup .k-state-focused,
.km-flat .km-popup .k-state-selected,
.km-flat .km-actionsheet > li > a:active,
.km-flat .km-actionsheet > li > a:hover,
.km-flat li.km-state-active .km-listview-link,
.km-flat li.km-state-active .km-listview-label,
.km-flat .km-listview-label input[type=radio]:checked,
.km-flat .km-listview-label input[type=checkbox]:checked {
  background: #3598DB;
}

.km-flat .km-loader {
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
     -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
}

.km-flat .km-loader:before {
  background: transparent;
}

#storyApp .center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#storyApp .hide-text {
  overflow: hidden;
  text-indent: -999px;
}

#storyApp .center-text {
  text-align: center;
}

.disabled {
  position: relative;
  display: block;
}

.disabled:before {
  position: absolute;
  top: 0;
  right: -1px;
  bottom: 0;
  left: -1px;
  z-index: 1;
  content: '';
}

/* Forms */

::-webkit-input-placeholder {
  color: #b6c5c6;
}

:-moz-placeholder {
  color: #b6c5c6;
}

::-moz-placeholder {
  color: #b6c5c6;
}

:-ms-input-placeholder {
  color: #b6c5c6;
}

#storyApp.km-flat form .km-list > li {
  padding: .7em .7em .5em;
  border-color: #eaeced;
}

#storyApp.km-flat form .km-listinset > li:first-child,
#storyApp.km-flat form .km-listgroupinset .km-list > li:first-child {
  border-width: 0 0 1px;
  border-color: #eaeced;
  -webkit-border-radius: 2px 2px 0 0;
     -moz-border-radius: 2px 2px 0 0;
          border-radius: 2px 2px 0 0;
}

#storyApp.km-flat form .km-listinset > li:last-child,
#storyApp.km-flat form .km-listgroupinset .km-list > li:last-child {
  border: 0 none;
  -webkit-border-radius: 0 0 2px 2px;
     -moz-border-radius: 0 0 2px 2px;
          border-radius: 0 0 2px 2px;
}

#storyApp.km-flat .km-list input[type="text"]:not(.k-input),
#storyApp.km-flat .km-list input[type="password"],
#storyApp.km-flat .km-list input[type="email"],
#storyApp.km-flat .km-list input[type="date"],
#storyApp.km-flat textarea,
#storyApp.km-flat select {
  position: static;
  width: 100%;
  height: 30px;
  font-size: 1rem;
}

#storyApp.km-flat select {
  padding: .4em .2em;
}

/* Buttons */

#storyApp .kbtn {
  position: relative;
  margin: 0;
  padding: .6em 0;
  border: 0 none;
  background-color: #3598db;
  font-size: 1.2rem;
  -webkit-transition: background 0.3s;
     -moz-transition: background 0.3s;
          transition: background 0.3s;
}

#storyApp .kbtn:hover {
  background-color: #5dade2;
}

#storyApp .kbtn:active {
  background-color: #2485c6;
}

#storyApp .disabled .kbtn {
  opacity: .35;
}

#storyApp .kbtn-login,
#storyApp .signup-view .kbtn-signup {
  background-color: white;
  color: #FF4800;
}

#storyApp .kbtn-login:hover,
#storyApp .signup-view .kbtn-signup:hover {
  background-color: #ea7b39;
}

#storyApp .signup-view .kbtn-signup {
  display: block;
}

#storyApp .signup-view .kbtn-signup,
#storyApp .kbtn-delete,
#storyApp .activity-view .km-footer {
  text-align: center;
}

#storyApp .kbtn-delete {
  padding: .6em 1.5em;
  background-color: #e84c3d;
}

#storyApp .kbtn-delete:hover {
  background-color: #f7625e;
}

#storyApp .kbtn-delete:active {
  background-color: #d84039;
}

#storyApp .oauth-item .kbtn {
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#storyApp .kbtn-login-fb {
  background-image: url(/images/icon-facebook.png);
}

#storyApp .km-header .nav-button {
  display: inline-block;
  padding: 0;
  width: 2em;
  height: 2em;
  border: 0 none;
  background-color: transparent;
  background-position: 0 50%;
  background-repeat: no-repeat;
}

#storyApp .km-header .nav-button-back {
  background-image: url(/images/icon-arrow_left.png);
  background-position: .65em 50%;
  margin-left: 15px;
}

#storyApp .km-header .nav-button-add {
  background-image: url(/images/icon-add.png);
}

#storyApp .km-header .nav-button-back,
#storyApp .km-header .nav-button-add {
  -webkit-transition: opacity 0.3s;
     -moz-transition: opacity 0.3s;
          transition: opacity 0.3s;
}

#storyApp .km-header .nav-button-back:hover,
#storyApp .km-header .nav-button-add:hover {
  opacity: .6;
}

#storyApp .km-header .nav-button-cancel {
  margin-left: 10px;
}
#storyApp .km-header .nav-button-cancel,
#storyApp .km-header .nav-button-post {
  width: auto;
  height: 2.5em;
  font-size: .85rem;
  line-height: 2.5em;
}

/* App Header */

#storyApp.km-flat.km-on-ios.km-black-translucent-status-bar .km-header {
  min-height: 20px;
  background-color: #2d3e50;
}

#storyApp.km-flat .km-header .km-navbar {
  min-height: 3.15em;
  background: #E5E1D7;
  color: #370000;
}

#storyApp.km-flat.km-on-ios.km-black-translucent-status-bar .km-header .km-navbar {
  min-height: 4.5em;
}

#storyApp.km-flat .km-header .km-view-title {
  margin-top: .4em;
  font-size: 20px;
}

#storyApp.km-flat.km-on-ios.km-black-translucent-status-bar .km-header .km-view-title {
  margin-top: .4em;
}

/* App Footer */

#storyApp .welcome-scrn .km-footer {
  background-color: transparent;
  color: #fff;
  text-align: center;
}

#storyApp .welcome-scrn .km-footer p {
  font-size: .75rem;
}

/* Welcome screen */

#storyApp .app-logo,
#storyApp .app-name {
  margin-top: 2.5em;
}

#storyApp .app-name {
  margin-bottom: 2.5em;
}

#login-form .username,
#login-form .password {
  position: relative;
}

#login-form .username:before,
#login-form .password:before {
  position: absolute;
  top: 50%;
  right: .75em;
  display: block;
  margin-top: -.5em;
  width: 1em;
  height: 1em;
  background-color: transparent;
  background-position: 0 0;
  background-repeat: no-repeat;
  content: '';
}

#login-form .username:before {
  background-image: url(/images/icon-username.png);
}

#login-form .password:before {
  background-image: url(/images/icon-password.png);
}

#storyApp .welcome-scrn .group-wrp {
  margin: -1em 1em 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

#storyApp .welcome-scrn .group-wrp li {
  margin: 1.5em 0 0;
}

#storyApp .welcome-scrn .group-wrp .kbtn {
  display: block;
}

#storyApp .welcome-scrn .group-wrp .oauth {
}

#storyApp .welcome-scrn .group-wrp .oauth .oauth-item {
  float: left;
  margin: 0;
  width: 100%;
}

#storyApp .welcome-scrn .group-wrp .oauth .kbtn {
  overflow: hidden;
  height: 45px;
  text-indent: -999px;
}

#storyApp .welcome-scrn .group-wrp .oauth .kbtn span,
#storyApp .welcome-scrn .group-wrp .kbtn-signup span {
  font-weight: 500;
  font-size: 1rem;
}

