/* line 1, ../sass/main.sass */
.pull-left {
  float: left;
}

/* line 3, ../sass/main.sass */
.pull-right {
  float: right;
}

/* line 6, ../sass/main.sass */
.create-post-image {
  display: none;
}

/* line 8, ../sass/main.sass */
a {
  color: #563000;
}

/* line 11, ../sass/main.sass */
.app-logo {
  font-size: 32px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 90px;
}

/* line 17, ../sass/main.sass */
#welcome, #signup {
  background: #e5e1d7;
}
/* line 19, ../sass/main.sass */
#welcome .km-content, #signup .km-content {
  background: #e5e1d7 !important;
}

/* line 21, ../sass/main.sass */
h3.section {
  margin-left: 0 !important;
  font-weight: normal;
  color: #7f7f7f;
}
/* line 25, ../sass/main.sass */
h3.section.section-trending {
  margin-top: 15px;
}

/* line 27, ../sass/main.sass */
h3.trending-story-title {
  margin: 15px 0 !important;
  font-size: 18px;
}

/* line 31, ../sass/main.sass */
.featured-tags {
  margin-left: -25px;
  overflow: hidden;
}
/* line 34, ../sass/main.sass */
.featured-tags .featured-tag {
  float: left;
  width: 45%;
  margin-left: 25px;
  text-decoration: none;
  margin-bottom: 20px;
}
/* line 40, ../sass/main.sass */
.featured-tags .featured-tag img {
  width: 100%;
  height: auto;
  display: block;
}
/* line 44, ../sass/main.sass */
.featured-tags .featured-tag span {
  font-weight: bold;
  font-size: 16px;
  margin-top: 5px;
  display: block;
}

/* line 51, ../sass/main.sass */
#home {
  background: white;
  padding: 15px;
  margin: 0;
}

/* line 58, ../sass/main.sass */
#trending-listview li {
  margin-left: -8px;
}

/* line 63, ../sass/main.sass */
.km-widget.km-tabstrip .km-button {
  color: #baab97 !important;
  background: #e6e0da !important;
}
/* line 66, ../sass/main.sass */
.km-widget.km-tabstrip .km-button.km-state-active {
  color: #572f00 !important;
}
/* line 68, ../sass/main.sass */
.km-widget.km-tabstrip .km-button .km-text {
  font-size: 16px;
}
