@import "mixins.sass"

.textarea
	color: black
	background: white


.post-content
	color: black
	p
		color: black

.post-action-hide
	background: red
	padding: 15px
	display: none
	position: absolute
	top: 0
	left: 0
	height: 100%
	width: 240px

.post-action-hide:visible + .post-content
	margin-left: 240px


i.icon.icon-arrow-left
	font-size: 26px
	position: relative
	top: 4px
#publishStory
	.location
		background: white
		height: 60px
		padding: 10px 15px
		color: #717171
		i
			float: left
			margin-right: 10px
			font-size: 26px
			color: #583000
			position: relative
			top: 5px
		span
			vertical-align: middle
			line-height: 40px
			float: left

	.share
		background: white
		color: #626262
		padding: 10px 15px
		overflow: hidden
		span
			float: left
			padding-top: 15px
			font-size: 16px
		.social
			float: right
			padding-top: 10px
			i
				font-size: 26px
				color: #CBC2B2
				margin-left: 3px
				cursor: pointer
				&:active, &:hover, &.selected
					color: #583000

	.publish
		background: white
		padding: 10px 15px

	.visibility
		background: white
		padding: 20px 15px
		overflow: hidden
		border-bottom: 1px solid #E7E7E7
		margin-top: -3px
		.km-buttongroup
			display: block !important
			width: 100% !important
			li
				display: block !important
				width: 50% !important
				float: left
				background: white
				color: black
				text-align: center
				font-size: 15px
				&.km-state-active
					background: #583000
					color: white
